<mat-card class="custom-style">
    <mat-card-header>
        <mat-card-title>Values</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="investmentForm">

            <mat-form-field>
                <mat-label>Starting Amount</mat-label>
                <input matInput formControlName="startPrincipal" required type="number" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Additional Contribution</mat-label>
                <input matInput formControlName="contribution" required type="number" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Years</mat-label>
                <input matInput formControlName="periodYears" required type="number" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Return Rate %</mat-label>
                <input matInput formControlName="interestRate" required type="number" />
            </mat-form-field>
            <div class="form-element">
                <label class="d-block">Period (end of each):</label>
                <mat-radio-group aria-label="Period" formControlName="period">
                    <mat-radio-button class="font-small" [value]=0>Month</mat-radio-button>
                    <mat-radio-button class="font-small" [value]=1>Year</mat-radio-button>
                </mat-radio-group>
            </div>
        
            <button mat-flat-button color="primary" type="submit" (click)="getResults(investmentForm.value)"
                [disabled]="!investmentForm.valid || !investmentForm.touched">Calculate</button>
        
        </form>
    </mat-card-content>
</mat-card>