<div class="container-investment">
    <div class="investment-title">
        <app-title [title]="'investment calculator'"></app-title>
    </div>
    <div class="investment-form">
        <app-form [investment]="newInvestment" (formValues)="getFormValues($event)"></app-form>
    </div>
    <div class="results">
        <app-result-numbers [type]="type" [results]="results"></app-result-numbers>
    </div>
    <div class="investment-data">
        <app-result-data [period]="period" [dataList]="interestSchedule"></app-result-data>
    </div>
</div>