.wrapper{
    margin-left: 50px;
    background-color: beige;
    min-height: 100vh;
    height: auto;
}

#mainContent{
    border: 2px solid #000000;
    min-height: 90vh;
    height: 90%;
    padding: 10px;
}