// margin
.mx-10px{
    margin-left: 10px;
    margin-right: 10px;
}

.d-block{
    display: block !important;
}

// font
.font-small{
    font-size: .8em !important;
}

.row{
    width: 100%;
    margin: 2rem 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}