/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "tooltip-custom";
@import "alert";
@import "mat-card-style";
@import "utils";


html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
