.overlay-dark-backdrop{
    background: rgba(0,0,0,.2);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.global-overlay-wrapper{
    pointer-events: none;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: calc(50% - 80px);
    left: calc(50% - 70px);
}