<div class="container-4cols">
    <div class="container-title">
        <app-title [title]="'historical comparation'"></app-title>
    </div>
    <div class="container-form">
        <app-upload #upload (fileUploaded)="fileUploaded($event)"></app-upload>
    </div>
    <div class="results">
        <app-files-info [data]="files"></app-files-info>
    </div>
    <div class="container-data">
        <!-- <app-result-data [period]="period" [type]="'investment'" [dataList]="interestSchedule"></app-result-data> -->
    </div>
</div>

<app-loading-overlay *ngIf="loading"></app-loading-overlay>